[Unit]
Description=Auto Launch IBEF Backend Service
# Verify if project installed
ConditionPathExists=<CHANGE_ME>
StartLimitIntervalSec=600
StartLimitBurst=5

[Service]
Type=simple
Restart=on-failure
RestartSec=10
# Limit the number of restart attempts to 5 within a 10 minute window to prevent infinite restart loops

WorkingDirectory=<CHANGE_ME>

# Make sure the scripts are executable before starting the service
ExecStartPre=/bin/bash -c "chmod +x scripts/create_venv.sh"
ExecStartPre=/bin/bash -c "chmod +x run.sh"

# Prepare the virtual environment before launching the API process
ExecStartPre=/bin/bash -lc "./scripts/create_venv.sh"
ExecStart=/bin/bash -lc "source .venv/bin/activate && exec ./run.sh api"

[Install]
WantedBy=multi-user.target